@import "./variables";

.project_title {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #272341;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
.project_name {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.par_project {
  color: #353a3f;
  font-size: 15px;
}
.wrap_iamge_project {
  margin-bottom: 90px;
}
.foter {
  height: 100vh;
}

.button_Project {
  @include Button(
    $primary-color-text,
    $primary-color-text,
    $secondery-color-text
  );
  padding: 10px;
}
.button_Project:hover {
  @include Button_hover($primary-color-text, $secondery-color-text);
}
#contact {
  background-color: $primary-color-text;
  background-image: $primary-color;
  color: $secondery-color-text;
  height: 60vh;
  text-align: center;
  border-top: 0;
  // -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  // clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  padding-bottom: 10%;
  overflow: hidden;
}
.secondery_title {
  font-size: 28px;
}
#footer {
  height: 40vh;
  background-color: #353a3f;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.wrap_angle {
  height: 70px;
}
.angle_up {
  color: $secondery-color-text;
  font-size: 30px;
  padding-top: 20px;
  transition: all 0.6s;
}
.angle_up:hover {
  padding-top: 10px;
  font-size: 32px;
  color: $primary-color-text;
  cursor: pointer;
}
.wrap_icos {
  height: 80px;
}
.icon_footer {
  color: $secondery-color-text;
  font-size: 40px;
  transition: all 0.5s;
}
.icon_footer:hover {
  margin-bottom: 10px;
  font-size: 50px;
}
.line {
  height: 1px;
  background-color: $primary-color-text;
  background-image: $primary-color;
  color: $secondery-color-text;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.footer_dev {
  padding-top: 30px;
  color: $secondery-color-text;
}
.wrap_icos a:hover {
  color: transparent;
}
.wrap_iamge_project {
  height: 150px;
}
.img_project {
  box-shadow: 10px 10px 10px 10px rgb(212, 212, 212);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.meet_artist {
  background-image: url("../components/meet_artist.png");
}
.meet_artist:hover {
  background-image: url("../components/meet_artist_2.png");
}

.cv_tracker {
  background-image: url("../components/cv_tracker_1.PNG");
}
.cv_tracker:hover {
  background-image: url("../components/cv_tracker_2.PNG");
}

@media screen and (min-width: $media-size-sm) {
  .wrap_iamge_project {
    height: 300px;
  }
}

@media screen and (min-width: $media-size-lg) {
  .par_project {
    font-size: 20px;
  }
  #contact {
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 93%, 0 100%);
    clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 991px) {
  .wrap_iamge_project {
    margin-top: 20px;
  }
}
